* {
    background-color: black;
    color: white;
}

#flexbox {
    display: flex;
    justify-content: space-between;
}

#flexbox > div:nth-child(odd) {
    background-color: blue;
    flex-grow: 6;
}

#flexbox > div:nth-child(2) {
    background-color: green;
    flex-grow: 1;
}