body {
    background-color: black;
    color: white;
    margin: 0;
}

section {
    margin-bottom: 3rem;
}

#total-interactions-section {
    background-color: darkorchid;
}

#negative-posts-section {
    height: 800px;
    background-color: aquamarine;
}

#economic-section {
    height: 800px;
    background-color: chartreuse;
}

#line-graph {
    position: sticky;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: #f72f20;
    box-shadow: -2px -2px 20px #240705;
}

#data {
    background-color: white;
    width: 80%;
    height: 50%;
    color: black;
}